@import "../../../styles/settings.scss";

.blog {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $color-dark;
}

.titleBox {
  max-width: 500px;
  margin: 0 auto;
  border: 2px dashed $color-orange;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: $transition;
  flex-direction: column;
  h1 {
    padding: $base-size;
    font-family: $font-second;
    font-size: $base-size * 3;
    font-weight: 300;
    text-align: center;
    color: $color-light;
  }

  input{
    padding: 20px;
    margin:10px; 
  }
}
