@import '../../../styles/settings.scss';

.footer{
    padding: $base-size*4 0; 
    background-color: $color-dark;
}

.copyright{
    color: $color-light;
    font-size: $base-size;
    opacity: 0.4;
}
