.container {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 970px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
    
  }
}
