@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$font-first: "Crimson Text", serif;
$font-second: "Raleway", sans-serif;

$color-orange: #ffbd59;
$color-dark: #0d0d0d;
$color-light: white;
$color-light-orange: #fff0d9;
$color-cyan: #59fcff;

$base-size: 22px;

$transition: all 0.2s;
