@import '../../../styles/settings.scss';

.navbar{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.menu{
    box-sizing: border-box;
    border-right: 2px dashed #FFBD59;
    border-left: 2px dashed #FFBD59;
    display: flex;
    justify-content:center;
    align-items: center;
    h2{
        padding: 0 $base-size;
        font-family: $font-second;
        font-weight: 500;
        transition: $transition;
        color: #0d0d0d;
    }

    h2:hover{
        color: #FFBD59;
        cursor: pointer;
    }
}

.logo {
    height: 100px;
    img{
        box-sizing: border-box;
        border-right: 2px dashed #FFBD59;
        border-left: 2px dashed #FFBD59;
        box-sizing: border-box;
        filter: blur(0.4px);
        height: 100px;
        max-width: 350px;
    }
}

.logo:hover{
    cursor: pointer;
}