@import '../../../styles/settings.scss';

.navbar{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: $color-light;    
}

.menu{
    box-sizing: border-box;
    border-right: 2px dashed #FFBD59;
    border-left: 2px dashed #FFBD59;
    display: flex;
    justify-content:center;
    align-items: center;
    h2{
        padding: 0 $base-size;
        font-family: $font-second;
        font-weight: 500;
        transition: $transition;
        color: #0d0d0d;
    }

    h2:hover{
        color: #FFBD59;
        cursor: pointer;
    }
}

.logo {
    height: 50px;
    img{
        box-sizing: border-box;
        border-right: 2px dashed #FFBD59;
        border-left: 2px dashed #FFBD59;
        box-sizing: border-box;
        filter: blur(0.4px);
        height: 100px;
        max-width: 350px;
    }
}

.logo:hover{
    cursor: pointer;
}

.workState{
    display: flex;
    align-items: center;
    color: $color-dark;
    p{
        margin: 0 $base-size *0.5;
    }
}

.icon{
    border-radius: 50%;
    width: $base-size;
    height: $base-size;
    background-color: #FFBD59;
}

.hamburgerBox{
    display: none;

}

.mobileSetting{
    display: none;
}
@media (max-width: 990px){

    .navbar{
        justify-content: start;
    }

    .mobileSetting{
        display: flex;
    }

    .mobileMenu{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100px;
        right: 0;
        width: 100%;
        background-color: $color-dark;
        
        h2{
            padding: 0 $base-size;
            font-family: $font-second;
            font-weight: 500;
            transition: $transition;
            color: $color-light;
        }
    
        h2:hover{
            color: #FFBD59;
            cursor: pointer;
        }
    }

    .menu{
        display: none;
    }
    
    .hamburger{
        display: flex;
        scale: 3;
    }

    .hamburgerBox{
        display: flex;
        color: $color-orange;
        align-items: center;
        position: absolute;
        right: 5%;
        top: 4%;
    }
}