@import '../../../styles/settings.scss';

.skills{
    padding: $base-size*4 0;
    background: #0d0d0d;
    color: white;
    text-align: center;
}

.skillsTitle{
    margin: 0 auto;
    max-width: 400px;
    border-bottom: 2px dashed white;
    h4{
        padding-bottom: $base-size*0.5;
        margin:0;
        font-family: $font-second;
        font-size: $base-size*2;
        font-weight: 400;
    }
    span{
        color:#FFBD59;
    }
}

.levelLegend{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: $base-size*2 0;
}

.icon{
    display: flex;
    justify-content: center;
}

.iconFirst{
    border-radius: 50%;
    width: $base-size;
    height: $base-size;
    background-color: #FFBD59;
}

.iconSecond{
    border-radius: 50%;
    width: $base-size;
    height: $base-size;
    background-color: #80ff59;
}

.iconThird{
    border-radius: 50%;
    width: $base-size;
    height: $base-size;
    background-color: #59fcff;
}

.text{
    text-align: center;
    min-width: 450px;
    p{
        font-family: $font-second;
        font-size: 18px;
        font-weight: 400;
    }
}

.technologies{
    margin: 0 auto;
    color: #0d0d0d;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
}

.technologieBox{
    display: flex;
    justify-content: center;
    background-color: white;
    border: 2px dashed #FFBD59;
    min-width: 150px;
    margin: 5px;
    p{
        font-family: $font-second;
        font-weight: 600;
        font-size: $base-size;
    }
}

.skillIcon{
    display: flex;
    margin: 5px;
    align-items: center;

}