@import '../../../styles/settings.scss';

.contact{
    padding: 100px;
    text-align: center;
}

.contactTitle{
    margin: 0 auto;
    max-width: 400px;
    border-bottom: 2px dashed #0d0d0d;
    h4{
        padding-bottom: 10px;
        margin:0;
        font-family: $font-second;
        font-size: 42px;
        font-weight: 500;
        color: #0d0d0d;
    }
    span{
        color:#FFBD59;
    }
}