@import "../../../styles/settings.scss";

.projectBox {
  max-width: 800px;
  margin: $base-size * 2 auto;
  padding: 20px;
  background-color: $color-orange;
  transition: 0.2s;
  h5 {
    font-family: $font-second;
    font-size: 32px;
    color: $color-dark;
    margin: 0;
  }
  p {
    font-family: $font-second;
    font-size: 20px;
    font-weight: 600;
    color: $color-dark;
    margin: 0;
  }
}

.projectBox:hover {
  cursor: pointer;
  scale: 1.03;
}

@media (max-width: 768px) {
  .projectBox {
    max-width: 400px;

    h5 {
      font-family: $font-second;
      font-size: $base-size * 1.2;
      color: $color-dark;
      margin: 0;
    }
    p {
      font-family: $font-second;
      font-size: $base-size * 0.8;
      font-weight: 600;
      color: $color-dark;
      margin: 0;
    }
  }

  .ps {
    p {
      font-family: $font-second;
      font-size: $base-size * 0.8;
      font-weight: 300;
    }

    .github {
      font-family: $font-second;
      font-size: $base-size;
      font-weight: 300;
      color: $color-orange;
      transition: 0.1s;
    }
  }
}

