@import '../../../styles/settings.scss';


.backgroundImage{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    background:rgba(0, 0, 0, 0.55)url(https://i.postimg.cc/1tZ778gF/main-photo.jpg);
    background-blend-mode: darken;
    background-size: cover;
    height: 100vh;
}

.title {
    border: 2px dashed #FFBD59;

    display: flex;
    flex-direction: column;
    h1{
        padding: $base-size;
        font-family: $font-second;
        font-size: $base-size*3;
        font-weight: 300;
        text-align: center;
        color:white;
    }
}

.btn {
    margin: $base-size auto;
    max-width: $base-size*8;
    background-color: $color-orange;
    padding: $base-size;
    font-size: $base-size*1.5;
    font-family: $font-second;
    font-weight: 500;
    text-align: center;
    transition: $transition;
}

.btn:hover{
    scale: 1.05;
    cursor: pointer;
}