@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$font-first: 'Crimson Text', serif;
$font-second: 'Roboto', sans-serif;
$font-third: 'Raleway', sans-serif;

/*#FFBD59
#000000
beige
*/



body{
    margin: 0;
    h1{
        margin: 0;
    }
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}


.background-image{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    background:rgba(0, 0, 0, 0.55)url(https://i.postimg.cc/1tZ778gF/main-photo.jpg);
    background-blend-mode: darken;
    background-size: cover;
    height: 100vh;
}

nav{
    height: 100px;
    background-color: white;
    width:100%;
    padding: 3px;
}

.navbar{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.menu{
    box-sizing: border-box;
    border: 2px dashed #FFBD59;
    display: flex;
    justify-content:center;
    align-items: center;
    h2{
        padding: 0 20px;
        font-family: $font-third;
        font-weight: 500;
    }
}

.logo {
    
    height: 100px;
    img{
        box-sizing: border-box;
    border: 2px dashed #FFBD59;
    box-sizing: border-box;
    filter: blur(0.4px);
    height: 100px;
    max-width: 350px;
    }
}

.title {
    border: 2px dashed #FFBD59;

    display: flex;
    flex-direction: column;
    h1{
        padding: 10px;
        font-family: $font-third;
        font-size: 62px;
        font-weight: 300;
        text-align: center;
        color:white
    }
}

.btn {
    margin: 20px auto;
    max-width: 100px;
    background-color: #FFBD59;
    padding: 30px;
    font-size: 32px;
    font-family: $font-third;
    font-weight: 500;
    text-align: center;

}

.face-hint{
    padding: 100px;
    background-color: #FFBD59;
}

.main-box{
    margin: 0 auto;
    display:flex;
}

.description-box{
    display: flex;
    align-items: center;
  max-width: 1000px;
  h3{
    font-family: $font-first;
    font-size: 32px;
  }
}

.description{
    font-family: $font-first;
    font-size: 24px;
    font-weight: 600;
}

.image-box{
    -webkit-box-shadow: 23px 23px 14px -3px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 23px 23px 14px -3px rgba(0, 0, 0, 0.47);
    box-shadow: 23px 23px 14px -3px rgba(0, 0, 0, 0.47);

    border-radius: 50%;
    height: 300px;
    img{
        object-fit: cover;
        border-radius: 50%;
        height: 300px;
        width: 300px;
    }
    
}

.website-explain{
    
}
