@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$font-first: 'Crimson Text', serif;
$font-second: 'Raleway', sans-serif;

/*#FFBD59
#000000
#0d0d0d
*/



body{
    margin: 0;
    h1{
        margin: 0;
    }

}

.container{
    max-width: 1400px;
    margin: 0 auto;
}


.background-image{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    background:rgba(0, 0, 0, 0.55)url(https://i.postimg.cc/1tZ778gF/main-photo.jpg);
    background-blend-mode: darken;
    background-size: cover;
    height: 100vh;
}



.title {
    border: 2px dashed #FFBD59;

    display: flex;
    flex-direction: column;
    h1{
        padding: 10px;
        font-family: $font-second;
        font-size: 62px;
        font-weight: 300;
        text-align: center;
        color:white;
    }
}

.btn {
    margin: 20px auto;
    max-width: 100px;
    background-color: #FFBD59;
    padding: 30px;
    font-size: 32px;
    font-family: $font-second;
    font-weight: 500;
    text-align: center;
    transition: 0.2s;
}

.btn:hover{
    scale: 1.05;
    cursor: pointer;
}

.face-hint{
    padding: 100px;
    background-color: #FFBD59;
}

.main-box{
    margin: 0 auto;
    display:flex;
}

.description-box{
    display: flex;
    align-items: center;
    max-width: 1000px;
    h3{
        font-family: $font-first;
        font-size: 32px;
        color: #0d0d0d;
  }
}

.image-box{
    -webkit-box-shadow: 23px 23px 14px -3px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 23px 23px 14px -3px rgba(0, 0, 0, 0.47);
    box-shadow: 23px 23px 14px -3px rgba(0, 0, 0, 0.47);
    border-radius: 50%;
    height: 300px;
    img{
        object-fit: cover;
        border-radius: 50%;
        height: 300px;
        width: 300px;
    }
    
}

.introduction{
    padding: 150px;
    background-color: white;
}

.text-holder{
    border-top: 2px dashed #FFBD59;
    border-bottom: 2px dashed #FFBD59;
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    p{
        font-family: $font-first;
        font-size: 32px;
        font-weight: 500;
        color: #0d0d0d;
    }
}

.skills{
    padding: 150px 0;
    background: #0d0d0d;
    color: white;
    text-align: center;
    h4{
        padding-bottom: 10px;
        margin:0;
        font-family: $font-second;
        font-size: 42px;
        font-weight: 400;
    }
    span{
        color:#FFBD59;
    }
}

.skills-title{
    margin: 0 auto;
    max-width: 400px;
    border-bottom: 2px dashed white;
}

.level-legend{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 50px 0;
}

.icon{
    display: flex;
    justify-content: center;
}

.icon-first{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #FFBD59;
}

.icon-second{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #80ff59;
}

.icon-third{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #59fcff;
}

.text{
    text-align: center;
    min-width: 450px;
    p{
        font-family: $font-second;
        font-size: 18px;
        font-weight: 400;
    }
}

.technologies{
    margin: 0 auto;
    color: #0d0d0d;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
}

.technologie-box{
    display: flex;
    justify-content: center;
    background-color: white;
    border: 2px dashed #FFBD59;
    min-width: 150px;
    margin: 5px;
    p{
        font-family: $font-second;
        font-weight: 600;
        font-size: 22px;
    }
}

.skill-icon{
    display: flex;
    margin: 5px;
    align-items: center;

}

.projects{
    padding-bottom: 150px;
    background: #0d0d0d;
    color: white;
    text-align: center;
    h4{
        padding-bottom: 10px;
        margin:0;
        font-family: $font-second;
        font-size: 42px;
        font-weight: 400;
    }
    span{
        color:#FFBD59;
    }
}

.projects-title{
    margin: 0 auto;
    max-width: 400px;
    border-bottom: 2px dashed white;
}

.project-box{
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #FFBD59;
    border: 2px dashed white;
    transition: 0.2s;
    h5{
        font-family: $font-second;
        font-size:32px;
        color:#0d0d0d;
        margin: 0;
    }
    p{
        font-family: $font-second;
        font-size:20px;
        font-weight: 600;
        color:#0d0d0d;
        margin: 0;
    }
}

.project-box:hover{
    cursor: pointer;
    scale: 1.03;
}

.ps{
    p{
        font-family: $font-second;
        font-size: 22px;
        font-weight: 300;
    }
    
    .github{
        font-family: $font-second;
        font-size: 28px;
        font-weight: 300;
            color:#FFBD59;
            transition: 0.1s;
    }
    
    .github:hover{
        scale: 1.1;
        cursor: pointer;
    }
}

.mountains{
    padding: 100px;
    background: #FFBD59;
    color: white;
    text-align: center;
}

.mountains-title{
    margin: 0 auto;
    max-width: 400px;
    border-bottom: 2px dashed white;
    h4{
        padding-bottom: 10px;
        margin:0;
        font-family: $font-second;
        font-size: 42px;
        font-weight: 500;
    }
    span{
        color:#0d0d0d;
        font-size: 20px;
    }
}

.mountains-climbed{
    margin:40px auto;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color:#0d0d0d;
}

.mountain{
    margin: 0 10px;
    min-width: 180px;
}

.mountain-title{
    font-family: $font-second;
    font-weight: 600;
    p{
        margin: 6px;
    }
}

.icon{
scale: 1.5;
}

.contact{
    padding: 100px;
    text-align: center;
}

.contact-title{
    margin: 0 auto;
    max-width: 400px;
    border-bottom: 2px dashed #0d0d0d;
    h4{
        padding-bottom: 10px;
        margin:0;
        font-family: $font-second;
        font-size: 42px;
        font-weight: 500;
        color: #0d0d0d;
    }
    span{
        color:#FFBD59;
    }
}