@import "../../../styles/settings.scss";

.projects {
  padding-bottom: $base-size * 4;
  background: $color-dark;
  color: $color-light;
  text-align: center;
}

.ps {
  p {
    font-family: $font-second;
    font-size: 22px;
    font-weight: 300;
  }

  .github {
    font-family: $font-second;
    font-size: 28px;
    font-weight: 300;
    color: $color-orange;
    transition: 0.1s;
  }

  .github:hover {
    scale: 1.1;
    cursor: pointer;
  }
}

.link{
  text-decoration: none;
}